body{
  text-color: white;
  font-family: Arial, sans-serif;
  font-size: 1.0em;
  
}

h1{
  color: white;
}

form{
  font-size: 1.0em;
  text-align: center;
  
  
}

#textBox{
  color: black;
  font-size: 1.0em;
  max-width: 133px;
  
}

button{
  background-color: light-grey;
  text-color: black;
  border: rounded;
  font-size: 1.0em;
  cursor: pointer;
}

button:hover{
  background-color: light-grey;
}

#result{
  color: white;
  font-size: 1.75em;
  font-weight: bold;
}
