body{
  font-family: Arial, sans-serif;
}
h1{
  color:blue;
}
form{
  text-align:center;
  max-width: 350px;
}  
#textBox{
  font-size: 2em;
}
button{
  cursor:pointer;
}
button:hover{
  
}
#result{
  font-size: 1.75em;
  font-weight:bold;
}
