body{
  text-color: black;
  font-family: Arial, sans-serif;
  font-size: 1.0em;
  
}

h1{
  color: azure;
}

form{
  font-size: 1.0em;
  text-align: center;
  
  
}

#textBox{
  font-size: 1.0em;
  max-width: 133px;
  color: black;
}

button{
  background-color: green;
  color: white;
  font-size: 1.0em;
  cursor: pointer;
}

button:hover{
  background-color: light-grey;
}

#result{
  font-size: 1.0em;
  font-weight: bold;
}
