body{
  font-family: Arial, sans-serif;
}
form{
  
}  
#textBox{
  text-align:center;
  font-size: 2em;
}
button{
  cursor:pointer;
}
button:hover{
  
}
#result{
  font-size: 1.75em;
  font-weight:bold;
}
